@model List<QL_BadmintonShop.Models.NHASANXUAT>

<li class="dropdown default-dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        Vợt
        <i class="fa fa-caret-down"></i>
    </a>
    <div class="custom-menu">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-links">
                    <h4 class="boil">Brand</h4>
                    @foreach (var item in Model)
                    {
                        <li><a href="~/SanPham/ThuongHieuSanPham?maLoai=@ViewBag.MaLoai&maNSX=@item.MANSX">@item.TENNSX</a></li>
                    }
                </ul>
                <hr class="hidden-md hidden-lg">
            </div>
            <div class="col-md-6">
                <ul class="list-links">
                    <li><a href="#">TẤT CẢ</a></li>
                </ul>
                <hr class="hidden-md hidden-lg">
            </div>
        </div>

    </div>
</li>